
#footer_in {
   
    clear: both;
	width:1000px;
	margin:auto auto 10px auto;
    overflow: hidden;
    padding: 20px;
}
#footer_in > div {
    float: left;
    min-height: 172px;
    width: 285px;
}
#footer_in > div + div {
    border-left: 1px solid #DBDBDB;
    margin-left: 15px;
    padding-left: 15px;
}
#footer_in img {
    margin-bottom: 7px;
    margin-right: 7px;
}
#footer_in input[type="text"] {
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid #DBDBDB;
    padding: 5px;
    width: 193px;
}
#footer_in input[type="button"] {
    background: none repeat scroll 0 0 #23A1D1;
    border: 1px solid #4DC1DE;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    line-height: 27px;
	
    margin-left: -4px;
    padding: 0 5px;
    text-shadow: 1px 1px #2198BA;
    width: 35px;
}
#footer_in #location {
    background: url("../img/location.png") no-repeat scroll 0 3px transparent;
    padding-left: 25px;
}
#footer_in #telephone {
    background: url("../img/phone.png") no-repeat scroll 0 3px transparent;
    padding-left: 25px;
}
#footer_in #mail {
    background: url("../img/mail.png") no-repeat scroll 0 3px transparent;
    padding-left: 25px;
}
#copyright {
    margin-bottom: 5px;
    text-align: center;
}
#hosted {
    margin-bottom: 15px;
    text-align: center;
}
.success {
    background: url("../img/success.png") no-repeat scroll 10px center #EAF7D9;
    border: 1px solid #BBDF8D;
    color: #555555;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
}
.warning {
    background: url("../img/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    color: #555555;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
}
.attention {
    background: url("../img/attention.png") no-repeat scroll 10px center #FFF5CC;
    border: 1px solid #F2DD8C;
    color: #555555;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
}
.information {
    background: url("../img/information.png") no-repeat scroll 10px center #E8F6FF;
    border: 1px solid #B8E2FB;
    color: #555555;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
}
.required {
    color: #FF0000;
}
.error {
    color: #FF0000;
}
a.button, input.button {
    background: url("../img/button.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #78883C;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 2px #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 2px;
    text-shadow: 0 -1px #7A8A3D;
}
a.button:hover, input.button:hover {
    background-position: 0 -26px;
    border: 1px solid #606D30;
    text-shadow: 0 -1px #626F30;
}
a.button {
    display: inline-block;
    padding: 4px 11px;
    text-decoration: none;
}
input.button {
    height: 28px;
    margin: 0;
    padding: 0 11px;
}
.buttons {
    border: 1px solid #DBDBDB;
    margin: 0 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 6px;
}
.buttons .left {
    float: left;
    text-align: left;
}
.buttons .right {
    float: right;
    text-align: right;
}
.buttons .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img.image {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    padding: 5px;
}

fieldset table {
    border-collapse: collapse;
    width: 100%;
}
fieldset table tr td:first-child {
    width: 250px;
}
fieldset table td {
    padding: 5px;
}
.scrollbox {
    border: 1px solid #DBDBDB;
    height: 150px;
    overflow: auto;
}
table.list {
    border-collapse: collapse;
    border-left: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
    margin-bottom: 20px;
    width: 100%;
}
table.list td {
    border-bottom: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}
table.list thead td {
    background-color: #F7F7F7;
    padding: 0 5px;
}
table.list thead td a, table.list thead td {
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}
table.list tbody td {
    color: #000000;
    padding: 0 5px;
    vertical-align: middle;
}
table.list .left {
    padding: 7px;
    text-align: left;
}
table.list .right {
    padding: 7px;
    text-align: right;
}
table.list .center {
    padding: 7px;
    text-align: center;
}
table.list .asc {
    background: url("../img/asc.png") no-repeat scroll right center transparent;
    padding-right: 15px;
}
table.list .desc {
    background: url("../img/desc.png") no-repeat scroll right center transparent;
    padding-right: 15px;
}
.pagination {
    margin-bottom: 30px;
    text-align: center;
}
.pagination .links a, .pagination .links b {
    background: url("../img/pagination.png") repeat-x scroll center bottom #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    padding: 8px 11px;
}
.pagination .links a {
    border: 1px solid #E4E4E4;
    color: #A3A3A3;
    text-decoration: none;
}
.pagination .links b {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #269BC6;
    color: #269BC6;
    font-weight: normal;
}
.pagination .results {
    /*display: none;*/
}
.empty {
    border: 1px solid #DBDBDB;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
}
.tabs {
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    height: 32px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.tabs a {
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-right: 2px;
    padding: 7px 15px;
    position: relative;
    text-decoration: none;
    top: 1px;
    z-index: 1;
}
.tabs a.active {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 0 none;
    padding-bottom: 8px;
    z-index: 3;
}
.carousel {
    margin-top: 15px;
    overflow: hidden;
    width: 960px;
    z-index: 1;
}
.carousel .previous {
    background: url("../img/carousel-previous.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 34px;
    position: relative;
    top: 110px;
    width: 25px;
}
.carousel .next {
    background: url("../img/carousel-next.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 34px;
    position: relative;
    top: 110px;
    width: 25px;
}
.carousel .slides {
    height: 280px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    width: 880px;
}
.carousel .control {
    height: 13px;
    margin-bottom: 20px;
    text-align: center;
}
.carousel .control div {
    background-image: url("../img/carousel-control.png");
    background-position: 0 0;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    margin: 0 5px;
    width: 13px;
}
.carousel .control .active {
    background-position: 0 13px;
}
.carousel .slides ul, .carousel .slides ul li {
    margin: 0;
    padding: 0;
}
.carousel .slides li {
    float: left;
    height: 280px;
    width: 880px;
}
.carousel .slides ul li h1 {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    font-size: 25px;
    margin-bottom: 18px;
    margin-top: 0;
}
.carousel .slides ul li h2 {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    font-size: 25px;
}
.carousel .slides ul li p {
    color: #333333;
    font-size: 18px;
}
.carousel .slides ul li b {
    color: #22A0D1;
}
.carousel .slides .slide-1 img, .carousel .slides .slide-2 img {
    float: left;
    margin-right: 20px;
}
.carousel .slides .slide-3 {
    text-align: center;
}
.carousel .slides .slide-3 img {
    margin: 0 5px 10px;
}
.carousel .slides .slide-4 {
    text-align: center;
}
.carousel .slides .slide-4 img {
    border: 1px solid #DBDBDB;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
}
.advertising {
    margin-left: -10px;
    overflow: hidden;
}
.advertising a {
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
}
.home {
    border-top: 1px solid #DBDBDB;
    margin-top: 10px;
    overflow: auto;
    padding-top: 20px;
}
.home .demo, .home .support, .home .documentation {
    float: left;
    width: 303px;
}
.home .support, .home .documentation {
    margin-left: 25px;
}
.home .demo h2, .home .support h2, .home .documentation h2 {
    margin-bottom: 4px;
    margin-left: 60px;
}
.home .demo img, .home .support img, .home .documentation img {
    float: left;
}
.home .demo p, .home .support p, .home .documentation p {
    margin-left: 60px;
}
.home .news {
    float: right;
    width: 300px;
}
.home .introduction {
    margin-right: 330px;
}
.home .introduction div {
    overflow: auto;
}
.home .introduction ul {
    float: left;
    margin-bottom: 20px;
    margin-top: 0;
    width: 258px;
}
.home .introduction ul + ul {
    float: left;
    margin-left: 25px;
    width: 258px;
}
.blog-list {
    margin-bottom: 20px;
    overflow: hidden;
}
.blog-list + .blog-list {
    border-top: 1px solid #DBDBDB;
    padding-top: 20px;
}
.blog-list > .image {
    margin-bottom: 10px;
}
.blog-list > .date {
    border-bottom: 1px solid #DBDBDB;
    color: #333333;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 50%;
}
.blog-list > .comment {
    border-bottom: 1px solid #DBDBDB;
    color: #333333;
    float: right;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: right;
    width: 50%;
}
.blog-info {
    margin-bottom: 20px;
    overflow: hidden;
}
.blog-info > .image {
    margin-bottom: 10px;
}
.blog-info > .date {
    border-bottom: 1px solid #DBDBDB;
    color: #333333;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 50%;
}
.blog-info > .comment {
    border-bottom: 1px solid #DBDBDB;
    color: #333333;
    float: right;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: right;
    width: 50%;
}
.blog-info > .description {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.blog-info > .share {
    border-bottom: 1px solid #DBDBDB;
    padding-bottom: 20px;
}
#comment .comment {
    clear: both;
    margin-bottom: 15px;
    overflow: auto;
}
#comment .comment + .comment {
    border-top: 1px solid #DBDBDB;
    padding-top: 15px;
}
#comment .comment > .image {
    float: left;
}
#comment .comment > .remove {
    float: right;
}
#comment .comment > .member {
    border-bottom: 1px solid #DBDBDB;
    color: #333333;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#comment .comment > .member, #comment .comment > .text {
    margin-left: 106px;
}
.comment-login {
    margin-bottom: 20px;
    text-align: center;
}
.documentation {
    margin-bottom: 20px;
}
.documentation + div {
    margin-bottom: 20px;
    text-align: center;
}
.liveshop {
    margin-left: -59px;
    overflow: hidden;
}
.liveshop > div {
    border-bottom: 1px solid #DBDBDB;
    float: left;
    height: 310px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 59px;
    width: 280px;
}
.liveshop img {
    display: block;
    margin-bottom: 18px;
}
.screencast > div {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.demo > div {
    float: left;
    width: 452px;
}
.demo > div + div {
    float: right;
    width: 452px;
}
.display {
    margin-bottom: 20px;
    overflow: auto;
}
.display .list, .display .grid {
    background: url("../img/display.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}
.display .list {
    background-position: 0 0;
}
.display .list:hover {
    background-position: 0 -20px;
}
.display .list-active {
    background-position: 0 -40px;
}
.display .grid {
    background-position: -20px 0;
}
.display .grid:hover {
    background-position: -20px -20px;
}
.display .grid-active {
    background-position: -20px -40px;
}
.display .sort {
    color: #DBDBDB;
    float: right;
}
.display .sort a {
    color: #8F8F8F;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}
.display .sort .asc {
    background: url("../img/asc.png") no-repeat scroll right center transparent;
    margin-right: 2px;
    padding-right: 16px;
}
.display .sort .desc {
    background: url("../img/desc.png") no-repeat scroll right center transparent;
    margin-right: 2px;
    padding-right: 16px;
}
.display .rss {
    float: right;
    margin-left: 5px;
}
.competition-filter input[type="text"] {
    border-bottom: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid #DBDBDB;
    padding: 5px;
    width: 172px;
}
.competition-filter input[type="button"] {
    background: none repeat scroll 0 0 #23A1D1;
    border: 1px solid #4DC1DE;
    border-radius: 0 5px 5px 0;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin-left: -4px;
    padding: 5px;
    text-shadow: 1px 1px #2198BA;
    width: 35px;
}
.competition-filter select {
    width: 98%;
}
.competition-grid {
    margin-left: -25px;
    overflow: hidden;
}
.competition-grid > div {
    border-bottom: 1px solid #DBDBDB;
    float: left;
    height: 240px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    width: 218px;
}
.footer
{
 background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 15px #DDDDDD inset;
	margin:10px 0 0 0;
}
.footer h2
{
color: #444444;
    font-size: 18px;
	font-family:Arial, Helvetica, sans-serif;
	}
.footer p
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
margin:0px;
color:dimgrey;
font-weight:300;
}
.footer_in a
{
margin-top:15px;
}
.copy
{
width:1000px;
margin:auto;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:dimgrey;
font-weight:300;
line-height:20px;
padding:15px 0 10px 0;
}