html			{ background: #333333; }
body			{ min-width: 1000px; text-align: center; margin: 0px; font-family: arial; font-size: 12px; color: #666666;
			  background: url('../img/bck_main.png') bottom center repeat-x fixed #FFFFFF;}
body.login		{ background: none; padding-top: 100px; background: url('../img/header.png') top left repeat-x; }


/***************************/
/********** LOGIN **********/
/***************************/

.login-box			{ width: 550px; margin: 0px auto; margin-bottom: 30px; background: url('../img/bck_white_10.png'); border: 1px solid #666666; text-align: left; padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.login-border			{ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.login-style			{ border: 2px solid #FFFFFF; background: url('../img/login.jpg') center center no-repeat; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.login-header			{ height: 71px; background: url('../img/login_header.png') left bottom no-repeat; padding: 15px 15px 0px 15px; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px;}
.login-header .logo		{ width: auto; margin: 0px; padding-top: 0px; }
.login-header .logo .title	{ }
.login-header .logo .text	{ color: #333333; }
.login-inside			{ height: 195px; padding-top: 35px; border-bottom: 1px solid #bbbbbb; background: url('../img/gear.png') 325px bottom no-repeat; }
.login-inside p			{ text-align: center; padding-bottom: 10px; }
.login-data			{ width: 290px; padding: 30px 10px 25px 30px; background: url('../img/bck_white_50.png'); margin: 0px auto; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; margin-bottom : 20px; }
.login-data label		{ display: block; width: 70px; float: left; line-height: 22px; text-align: right; margin-right: 10px; }
.login-data input.text		{ width: 140px; }
.login-data .row		{ padding-bottom: 10px; }
.login-data .button		{ margin-left: 80px; }
.login-footer			{ border-top: 1px solid #FFFFFF; background: url('../img/bck_black_70.png'); height: 22px; padding: 10px 15px 10px 15px; -moz-border-radius: 0px 0px 3px 3px; -webkit-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px;}
.login-footer .remember		{ color: #FFFFFF; line-height: 22px; display: block; float: left; font-weight: bold; }
.login-footer .remember label	{ margin-left: 3px; }
.login-links			{ color: #bbbbbb; font-size: 11px; }
.login-links strong		{ font-weight: normal; color: #FFFFFF; }
.login-links a			{ color: #FFFFFF; text-decoration: none; }
.login-links a:hover		{ color: #FFFFFF; text-decoration: underline; }

.login-data .button {
    margin-left: 80px;
}
.button.green {
    background-color: #4DB800;
}
 .login-data  .button {
    background: url("../img/button_glas1.png") repeat-x scroll center center #333333;
    border-radius: 3px 3px 3px 3px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 3px 10px;
}


.button.green {
    background-color: #4DB800;
}

.button {
    background: url("../img/button_glas1.png") repeat-x scroll center center #333333;
    border-radius: 3px 3px 3px 3px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 3px 13px;
    text-align: center;
}

.fr-space {
    float: right;
    margin-left: 5px;
}

.textlogo{
     background: url("../img/login.png") no-repeat #A2A2A2;
}

